$borderRadiusTop: 3% 3% 0 0;
$borderRadiusBottom: 0 0 3% 3%;
.card {
  display: flex;
  text-align: center;
  border-radius: $borderRadiusTop;
  background: rgba(1, 53, 230, 0.07);
  border-radius: $borderRadiusBottom;

  .card-header {
    background: transparent;
    padding: 0;
  }

  .image-background {
    border-radius: $borderRadiusTop;
    background: linear-gradient(rgb(33, 37, 41), rgb(0, 0, 0));
  }

  .card-img-top {
    opacity: 0.4;
    border-radius: $borderRadiusTop;
  }

  .card-img-overlay {
    padding: 0;
  }

  .card-title {
    color: $white;
  }

  .image-title {
    margin-top: 33%;
  }

  .icon-title {
    margin-top: 0.7rem;
  }

  .card-text {
    text-align: left;
    padding: 0 2%;
  }
}

@media (max-width: 768px) {
  .card-deck .card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 5%;
  }
}
