// Styling for the footer
footer {
  padding: 10px 0;

  span.copyright {
    @include heading-font;
    font-size: 60%;
    text-transform: none;
    line-height: 40px;
  }

  .social-buttons {
    text-align: right;
  }
}

@media (min-width: 428px) {
  footer {
    span.copyright {
      font-size: 90%;
    }
  }
}
