// Styling for the footer
footer {
  @include transition-timing;
  padding: 8px 11px;

  &.scrolled {
    background: rgba(33, 37, 41, 0.97);

    span.copyright {
      display: block;
      color: $primary;
    }
    .social-buttons {
      li {
        a {
          color: $gray-200;
        }
      }
    }
  }

  span.copyright {
    display: none;
    font-size: 60%;
    text-transform: none;
    line-height: 40px;
  }

  .social-buttons {
    text-align: right;
    li {
      a {
        color: $primary;
      }
    }
  }
}

@media (min-width: 428px) {
  footer {
    span.copyright {
      font-size: 90%;
    }
  }
}

@media (min-width: 768px) {
  footer {
    padding: 8px 20px;
  }
}

@media (min-width: 992px) {
  footer {
    padding: 8px 30px;
  }
}
