@import "variables";
@import "mixins";
@import "socialButtons";
@import "iconitem";
@import "navbar";
@import "masthead";
@import "cto";
@import "services";
@import "team";
@import "footer";

html {
  padding: 0;
  margin: 0;
  @include body-font;
  background-color: $primary;
}

body {
  @include body-font;
  overflow-x: hidden;
  background-color: $primary;
}

a {
  @include transition-timing;
}

section {
  padding: 100px 0;

  .section-heading {
    @include heading-font;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .section-subheading {
    @include serif-font;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center-items {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
