@import "variables";
@import "mixins";
@import "iconitem";
@import "navbar";
@import "masthead";
@import "cto";
@import "services";
@import "team";
@import "footer";

html {
  padding: 0;
  margin: 0;
  @include body-font;
}

body {
  @include body-font;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

section {
  padding: 100px 0;

  h2.section-heading {
    @include heading-font;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  h3.section-subheading {
    @include serif-font;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.flexbox {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center-items {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul.social-buttons {
  margin-bottom: 0;

  li {
    a {
      font-size: 20px;
      line-height: 35px;
      display: block;
      width: 35px;
      height: 35px;
      color: $white;
      border-radius: 10%;
      outline: none;
      background-color: $gray-900;

      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}
