.iconItem {
  display: inline-block;
  margin-bottom: 1em;
  text-align: center;
  .iconItemTitle {
    @include heading-font;
    margin-top: 1em;
  }
  .iconItemDescription {
    text-align: left;
  }
}
