@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

// Font Mixins
@mixin body-font {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin heading-font {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-font {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; // sass-lint:disable-line no-misspelled-properties
  background-size: cover;
}

@mixin transition-timing {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

@mixin sharp-background-fix {
  background-color: $black;
}
