// Styling for the navbar
#mainNav {
  -webkit-transition: background .3s ;
  -moz-transition: background .3s ;
  -o-transition: background .3s ;
  transition: background .3s ;

  .navbar-toggler {
    font-size: 20px;
    right: 0;
    padding: 5px;
    color: $white;
    border: 0;
    background-color: $primary;
  }

  .navbar-brand {
    @include heading-font;
    color: $primary;

    font-size: 1.1em;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 15%);
    }
  }

  .collapsing {
    text-align: right;
  }

  .show {
    text-align: right;
  }

  &.navbar-expanded {
    background: rgba(33, 37, 41, .87);
  }

  &.navbar-shrink {
    background: rgba(33, 37, 41, .87);
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        @include heading-font;
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $white;

        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #mainNav {
    padding: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: 0;

    -webkit-transition: background .3s ;
    -moz-transition: background .3s ;
    -o-transition: background .3s ;
    transition: background .3s ;

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background: rgba(33, 37, 41, .85);

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }

    .navbar-toggler-icon {
      color: $white;
    }
  }
}
