$brandHoverColor: lighten($primary, 5%);

#mainNav {
  @include transition-timing;

  .navbar-toggler {
    font-size: 20px;
    right: 0;
    padding: 5px;
    color: $white;
    border: 0;
    background: $primaryTransparent;

    &:hover {
      background: darken($primaryTransparent, 15%);
    }
  }

  .navbar-brand {
    color: $primary;

    font-size: 1.1em;

    &:hover {
      color: $brandHoverColor;
      font-size: 113%;
    }
  }

  .collapsing {
    text-align: right;
  }

  .show {
    text-align: right;
  }

  &.navbar-expanded {
    background: rgba(33, 37, 41, 0.97);
  }

  &.navbar-shrink {
    background: rgba(33, 37, 41, 0.97);
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        letter-spacing: 1px;
        color: $white;
        padding: 0.75em 0;

        &:active,
        &:focus,
        &:hover {
          color: $primary;
          font-size: 93%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #mainNav {
    padding: 25px;
    border: 0;

    .navbar-brand {
      font-size: 1.75em;

      &:hover {
        color: $brandHoverColor;
        font-size: 177%;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background: rgba(33, 37, 41, 0.97);

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;

        &:hover {
          font-size: 127%;
        }
      }
    }

    .navbar-toggler-icon {
      color: $white;
    }
  }
}
