#services {
  @include sharp-background-fix;
  color: $white;
  opacity: 0.6;

  .section-subheading {
    color: $gray-300 !important;
  }

  .card {
    background: rgba(1, 53, 230, 0.07);
    .card-icon {
      color: $gray-300;
    }
  }
}
