#team {
  background-color: $gray-100;
  padding-bottom: 50px;

  text-align: center;

  .section-heading {
    margin-bottom: 1.25em;
  }

  .teamItem {
    @include heading-font;
    margin: 0;
    margin-bottom: 50px;

    .teamItemImage {
      border-radius: 20%;
      width: 225px;
      height: 225px;
    }

    h4 {
      margin-top: .3em;
      margin-bottom: 0;
      text-transform: none;
    }

    p {
      margin: 0;
    }

    .social-buttons {
      margin: 0;
      li {
        margin-right: 2px;
      }
    }
  }
}
