#team {
  background-color: $white;
  padding-bottom: 50px;

  text-align: center;

  .section-heading {
    margin-bottom: 1.25em;
  }

  .teamItem {
    @include heading-font;
    margin-bottom: 50px;

    .teamItemImage {
      border-radius: 20%;
      width: 225px;
      height: 225px;
      border: 7px solid $white;
    }

    h4 {
      margin: 0;
      text-transform: none;
    }

    p {
      margin: 0.1em;
    }

    .social-buttons {
      margin: 0.4em;
    }
  }
}
